
/* Jumbotron */

.jumbotron {
	padding-top: 6rem;
	background-color: #e2edff;
}

.jumbotron img {
	width: 200px;
}

/* Projects */

#projects {
	background-color: #e2edff;
}

/* Section */

section {
	padding-top: 5rem;
}
